{
  "openapi": "3.1.0",
  "info": {
    "title": "Mythical DAO public API",
    "version": "0.3.0",
    "description": "Existing Governor and treasury on Polygon; optional immutable ragequit module. Snapshot advisory votes stay external. Quantities and identifiers are decimal strings. No timelock or migration."
  },
  "servers": [
    {
      "url": "https://dao.mythicalbeings.io"
    }
  ],
  "paths": {
    "/api/config": {
      "get": {
        "summary": "Version 2 manifest: explicit treasury/module/GEM/native USDC/historical USDC.e and independent capabilities",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Verified data or explicit unavailable/setup state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "integrations": {
                      "type": "object",
                      "properties": {
                        "telegram": {
                          "type": "object",
                          "properties": {
                            "channelUrl": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        },
                        "discord": {
                          "type": "object",
                          "properties": {
                            "serverId": {
                              "type": "string"
                            },
                            "channelId": {
                              "type": "string"
                            },
                            "channelUrl": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "RPC, index or configuration unavailable"
          }
        },
        "description": "Optional integrations contain validated Telegram channel and Discord destination identifiers. Missing or invalid integrations are omitted independently and do not disable governance. No bot credentials are exposed."
      }
    },
    "/api/health": {
      "get": {
        "summary": "Live RPC and Governor/MANA identity verification (signingAllowed), separate from Governor/MANA historical completeness (historyComplete) and sync progress",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Verified data or explicit unavailable/setup state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "RPC, index or configuration unavailable"
          }
        },
        "description": " Optional RPC-verified supplemental Governor history includes source/anchor/availability metadata. Historical completeness remains false until independently established. Wallet authorization is independent."
      }
    },
    "/api/proposals": {
      "get": {
        "summary": "Executable and historical Governor proposals",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Exclusive composite block.logIndex.contract cursor returned by the previous page"
          }
        ],
        "responses": {
          "200": {
            "description": "Verified data or explicit unavailable/setup state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "RPC, index or configuration unavailable"
          }
        },
        "description": " Optional RPC-verified supplemental Governor history includes source/anchor/availability metadata. Historical completeness remains false until independently established. Wallet authorization is independent."
      }
    },
    "/api/ballots": {
      "get": {
        "summary": "Historical on-chain ballot archive; new advisory votes use external Snapshot",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Exclusive composite block.logIndex.contract cursor returned by the previous page"
          }
        ],
        "responses": {
          "200": {
            "description": "Verified data or explicit unavailable/setup state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "RPC, index or configuration unavailable"
          }
        }
      }
    },
    "/api/proposals/{contract}/{id}": {
      "get": {
        "summary": "Proposal with exact content and latest verified totals; results contains source, block, checkedAt and freshness. Stale state is Unknown.",
        "parameters": [
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verified data or explicit unavailable/setup state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "RPC, index or configuration unavailable"
          }
        }
      }
    },
    "/api/delegates": {
      "get": {
        "summary": "Delegates and verified voting weights",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Verified data or explicit unavailable/setup state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "RPC, index or configuration unavailable"
          }
        },
        "description": " Optional RPC-verified supplemental Governor history includes source/anchor/availability metadata. Historical completeness remains false until independently established. Wallet authorization is independent."
      }
    },
    "/api/members/{address}": {
      "get": {
        "summary": "MANA balance, delegated power, representative, allowance and supply",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Verified data or explicit unavailable/setup state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "RPC, index or configuration unavailable"
          }
        }
      }
    },
    "/api/treasury": {
      "get": {
        "summary": "Fixed basket balances and residual legacy assets",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Verified data or explicit unavailable/setup state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "RPC, index or configuration unavailable"
          }
        }
      }
    },
    "/api/events": {
      "get": {
        "summary": "Confirmed event history",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Exclusive composite block.logIndex.contract cursor returned by the previous page"
          }
        ],
        "responses": {
          "200": {
            "description": "Verified data or explicit unavailable/setup state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "RPC, index or configuration unavailable"
          }
        },
        "description": " Optional RPC-verified supplemental Governor history includes source/anchor/availability metadata. Historical completeness remains false until independently established. Wallet authorization is independent."
      }
    },
    "/api/history/snapshot": {
      "get": {
        "summary": "Read-only imported Snapshot archive",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Exclusive block number (Snapshot: created timestamp) cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Verified data or explicit unavailable/setup state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "RPC, index or configuration unavailable"
          }
        }
      }
    },
    "/api/preflight": {
      "post": {
        "summary": "Allowlisted per-operation eligibility reads and actual-caller simulation at the same current block through both RPC providers; rechecked before signature; independent of archive progress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account",
                  "to",
                  "data",
                  "value"
                ],
                "properties": {
                  "account": {
                    "type": "string"
                  },
                  "to": {
                    "type": "string"
                  },
                  "data": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string",
                    "pattern": "^[0-9]+$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gas and estimatedFee decimal strings, block, checkedAt"
          },
          "409": {
            "description": "Signing disabled"
          },
          "503": {
            "description": "Simulation failed or RPC divergence"
          }
        }
      }
    },
    "/api/simulate-actions": {
      "post": {
        "summary": "Review future actions from the current Governor, independently of historical sync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "actions"
                ],
                "properties": {
                  "actions": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 20,
                    "items": {
                      "type": "object",
                      "required": [
                        "target",
                        "value",
                        "data"
                      ],
                      "properties": {
                        "target": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "data": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns ok, complete, calls, block and warning. A single action can fall back to matching eth_call results from both providers when one lacks eth_simulateV1. An unsupported combined simulation returns complete=false, ok=false and requires explicit acknowledgement to publish for voting. This never replaces the separate two-provider preflight for propose or execute. Current-state reverts require acknowledgement; genuine RPC failures and divergence block review."
          },
          "503": {
            "description": "RPC failure, invalid response or provider divergence"
          }
        }
      }
    },
    "/api/notification-feed": {
      "get": {
        "summary": "Verified V2 proposal feed ordered by block, log index and contract; resumable after cursor",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "items and nextCursor"
          },
          "409": {
            "description": "Index not verified"
          }
        }
      }
    },
    "/api/redeem-preview": {
      "get": {
        "summary": "GEM/WETH/native USDC quote, module and basket identity, current balances, treasury allowances, pre-burn supply, block and explicit unavailable reasons",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "amounts, supply and block as decimal strings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "module",
                    "treasury",
                    "mana",
                    "basket",
                    "amounts",
                    "supply",
                    "block",
                    "available",
                    "reasons"
                  ],
                  "properties": {
                    "module": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "basket": {
                      "type": "array",
                      "minItems": 3,
                      "maxItems": 3,
                      "description": "Fixed order GEM, WETH, native USDC; each has address, decimals, balance, allowance, amount"
                    },
                    "amounts": {
                      "type": "array",
                      "minItems": 3,
                      "maxItems": 3,
                      "items": {
                        "type": "string"
                      }
                    },
                    "supply": {
                      "type": "string"
                    },
                    "block": {
                      "type": "string"
                    },
                    "available": {
                      "type": "boolean"
                    },
                    "reasons": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid amount or missing deployment"
          }
        }
      }
    },
    "/api/overview": {
      "get": {
        "summary": "Complete indexed active/queued totals, independent of proposal page size",
        "responses": {
          "200": {
            "description": "activeVotes, queuedExecutions, complete and asOfBlock"
          }
        },
        "description": " Optional RPC-verified supplemental Governor history includes source/anchor/availability metadata. Historical completeness remains false until independently established. Wallet authorization is independent."
      }
    },
    "/api/governance-parameters": {
      "get": {
        "summary": "Confirmed existing Governor delay, period, threshold, quorum fraction and counting mode; no timelock",
        "responses": {
          "200": {
            "description": "On-chain parameters and confirmed block"
          },
          "503": {
            "description": "RPC agreement unavailable"
          }
        }
      }
    },
    "/api/proposals/resolve": {
      "post": {
        "summary": "Recover a proposal from a canonical confirmed Governor receipt, without changing historical cursors",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transactionHash"
                ],
                "properties": {
                  "transactionHash": {
                    "type": "string",
                    "pattern": "^0x[0-9a-fA-F]{64}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Canonical proposal with current state"
          },
          "503": {
            "description": "Missing, unconfirmed, divergent or noncanonical receipt"
          }
        }
      }
    },
    "/api/graph-status": {
      "get": {
        "summary": "Read Graph comparison, supplemental-history mode and key policy diagnostics; never triggers a Graph query",
        "responses": {
          "200": {
            "description": "Disabled, pending, stale or latest sanitized comparison. keyPolicy distinguishes provider subgraph restriction from an explicit server-only exception; D1 and RPC remain independent."
          }
        }
      }
    },
    "/api/vote-status/{contract}/{id}/{account}": {
      "get": {
        "summary": "Fresh voting status, historical Governor voting power and current MANA balance for the selected wallet; never a signing authorization",
        "parameters": [
          {
            "name": "contract",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+$"
            }
          },
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]{40}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Two providers agree at the indicated block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "hasVoted",
                    "account",
                    "block",
                    "checkedAt",
                    "snapshot",
                    "votingPower",
                    "currentBalance"
                  ],
                  "properties": {
                    "hasVoted": {
                      "type": "boolean"
                    },
                    "account": {
                      "type": "string"
                    },
                    "block": {
                      "type": "string"
                    },
                    "checkedAt": {
                      "type": "integer"
                    },
                    "snapshot": {
                      "type": "string"
                    },
                    "votingPower": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Governor.getVotes(account, proposalSnapshot), null before the snapshot is in the past"
                    },
                    "currentBalance": {
                      "type": "string",
                      "description": "Current MANA balance, not the weight of this proposal"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Voting status unavailable; the UI must not enable voting"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Uint256": {
        "type": "string",
        "pattern": "^[0-9]+$"
      },
      "Hash": {
        "type": "string",
        "pattern": "^0x[0-9a-fA-F]{64}$"
      }
    }
  }
}
